<div class="container-md">
    <h4 class="text-center" style="color: #9A0605">TOP ANZEIGEN</h4>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" style="text-decoration: none;">
                            <div class="ads__border">
                                <div class="d-flex justify-content-between my-2">
                                    <h6 style="color: #9A0605">Rettungssanitäter A</h6>
                                </div>
                                <div class="ads__status">
                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" style="text-decoration: none;">
                            <div class="ads__border">
                                <div class="d-flex justify-content-between my-2">
                                    <h6 style="color: #9A0605">Rettungssanitäter B</h6>
                                </div>
                                <div class="ads__status">
                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" style="text-decoration: none;">
                            <div class="ads__border">
                                <div class="d-flex justify-content-between my-2">
                                    <h6 style="color: #9A0605">Rettungssanitäter C</h6>
                                </div>
                                <div class="ads__status">
                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" style="text-decoration: none;">
                            <div class="ads__border">
                                <div class="d-flex justify-content-between my-2">
                                    <h6 style="color: #9A0605">Rettungssanitäter D</h6>
                                </div>
                                <div class="ads__status">
                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" style="text-decoration: none;">
                            <div class="ads__border">
                                <div class="d-flex justify-content-between my-2">
                                    <h6 style="color: #9A0605">Rettungssanitäter E</h6>
                                </div>
                                <div class="ads__status">
                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="#" style="text-decoration: none;">
                            <div class="ads__border">
                                <div class="d-flex justify-content-between my-2">
                                    <h6 style="color: #9A0605">Rettungssanitäter F</h6>
                                </div>
                                <div class="ads__status">
                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
