<div class="container-md">
    <div class="user__info">
        <div class="usr_company__logo">
            <img src="../../../images/abc_logo.png" alt="Company Logo">
            <h5>Company Name</h5>
        </div>
    </div>
    <div class="user__info">
        <div class="user_setting_page_title">
            User Settings
        </div>
        <div style="margin: 0 10px">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                    <div class="user__info">
                        <p class="user__account_overview">Account Overview</p>
                        <div class="user_basic_details">
                            <!-- username -->
                            <label for="username">Username:</label>
                            <input type="text" name="username" style="width: 100%" id="username">
                            <!-- password -->
                            <label for="password">Password:</label>
                            <input type="password" name="password" style="width: 100%" id="password">
                            <!-- Address -->
                            <label for="street">Address:</label>
                            <div class="user_address" style="width: 100%">
                                <input type="text" name="street" id="street" placeholder="Street">
                                <input type="text" name="zip" id="zip" placeholder="Zip">
                                <input type="text" name="city" id="city" placeholder="City">
                            </div>
                            <!-- Invoice Address -->
                            <label for="street">Invoice Address:</label>
                            <div class="user_address" style="width: 100%">
                                <input type="text" name="invoice_street" id="street" placeholder="Street">
                                <input type="text" name="invoice_zip" id="zip" placeholder="Zip">
                                <input type="text" name="invoice_city" id="city" placeholder="City">
                            </div>
                            <!-- Website -->
                            <label for="taxID">TAX ID:</label>
                            <input type="text" name="taxID" style="width: 100%" id="taxID">
                            <label for="">Payment Methods:</label>
                            <div class="payment_methods">
                                <span style="color: #191E6D"><i class="fab fa-cc-visa"></i></span>
                                <span style="color: #E4001A"><i class="fab fa-cc-mastercard"></i></span>
                                <span style="color: #016CC9"><i class="fab fa-cc-amex"></i></span>
                                <span style="color: #002E83"><i class="fab fa-cc-paypal"></i></span>
                                <span style="color: #DF006C"><i class="fas fa-closed-captioning"></i></span>
                                <span style="color: #006B8B"><i class="fas fa-money-check-alt"></i></span>
                            </div>
                            <label for="">Payment Role:</label>
                            <ol class="order_list">
                                <li>Company</li>
                                <li>Freelancer</li>
                                <li>Lecturer</li>
                                <li>Educational institution</li>
                                <li>Head hunter</li>
                            </ol>
                            <label for="">Invoices / Billing History:</label>
                            <ul class="unorder_list">
                                <li>Jobanzeige März 2021 <a href="#"><i class="far fa-file-pdf"></i></a></li>
                                <li>Jobanzeige Februar 2021 <a href="#"><i class="far fa-file-pdf"></i></a></li>
                                <li>Job Booster Februar 2021 <a href="#"><i class="far fa-file-pdf"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="user__info ads_image">
                        <!-- Put Ads Here Not Inside > div -->
                        <div>
                            <img src="https://previews.123rf.com/images/messer16/messer161705/messer16170500047/78580714-crispy-croutons-ads-vector-realistic-illustration-of-croutons-with-garlic-vertical-banner-with-produ.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="delete__account">
        <button type="submit" class="save__data">Delete Account</button>
    </div>
</div>
