<div class="container-md">
    <div class="user__info">
        <div class="page__title">
            <h5>Data</h5>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="user_basic_details">
                    <!-- Job Title -->
                    <label for="companyName">Job Title:</label>
                    <input type="text" name="companyName" style="width: 100%" id="surname" placeholder="Enter text...">
                    <!-- Address -->
                    <label for="street">Address:</label>
                    <div class="user_address" style="width: 100%">
                        <input type="text" name="street" id="street" placeholder="Street">
                        <input type="text" name="zip" id="zip" placeholder="Zip">
                        <input type="text" name="city" id="city" placeholder="City">
                    </div>
                    
                    <label class="redLabel">FINANZEN</label>
                    <!-- Year of experience -->
                    <label for="yearEexperience">Year of experience:</label>
                    <input type="text" name="companyName" style="width: 100%" id="yearEexperience" placeholder="Enter text...">
                    <!-- main category -->
                    <label for="mainCategory ">Main Category:</label>
                    <input type="text" name="companyName" style="width: 100%" id="mainCategory" placeholder="Enter text...">
                    <!-- Sub category -->
                    <label>Sub Category:</label>
                    <select name="subCategory" class="select__new">
                        <option checked>Choose One</option>
                        <option value="1">Value One</option>
                        <option value="2">Value Two</option>
                    </select>
                    <!-- radius operation area -->
                    <label for="">Radius Operation Area:</label>
                    <div class="user_address" style="width: 100%">
                        <input type="text" name="street" id="street" placeholder="Street">
                        <input type="text" name="zip" id="zip" placeholder="Zip">
                        <select name="subCategory" class="select__new" style="width: 30%;">
                            <option checked>Choose One</option>
                            <option value="1">Value One</option>
                            <option value="2">Value Two</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="user__info">
                    <div class="ads_post__active">
                        <p>Boost your AD <br>
                            7 days for 19,95€</p>
                        <p><i class="fas fa-check-circle"></i></p>
                        <button>BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="ref_free_text">
                    <textarea name="ref_free_text" id="ref_free_text" style="width: 100%" cols="70" rows="4">Job short description, Job long description, Company description & youtube video</textarea>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <button class="save__data">Save as draft</button>
                <button class="save__data">Publish Job</button>
            </div>
        </div>
    </div>
</div>
