<div class="container-md">
    <div class="user__info">
        <div class="basic__data">
            <h6>Profile Informations</h6>
            <div class="user_profile_picture">
                <label for="updatePP">
                    <input type="file" id="updatePP" name="updatePP">
                    <img class="user__profile_picture" src="../../images/fireman.png" />
                </label>
            </div>
            <div class="user_basic_details">
                <!-- Surname -->
                <label for="surname">Name:</label>
                <input type="text" name="surname" id="surname" placeholder="Thorsten Müller">
                <!-- Date of birth -->
                <label for="birthdate">Date of Birth:</label>
                <input type="text" name="birthDate" id="birthDate" placeholder="15.04.1998">
                <!-- Hobbies -->
                <label for="hobbies">hobbies:</label>
                <input type="text" name="hobbies" id="hobbies" placeholder="Reiten, Lesen">
                <!-- Address -->
                <label for="street">Address</label>
                <div class="user_address">
                    <input type="text" name="street" id="street" placeholder="Street">
                    <input type="text" name="zip" id="zip" placeholder="Zip">
                    <input type="text" name="city" id="city" placeholder="City">
                </div>
            </div>
        </div>
        <div class="user_references">
            <label for="">References:</label>
            <div class="ref_list">
                <input type="text" name="ref1" id="ref1" placeholder="Company A">
                <select id="ref1_yearstart">
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014" selected>2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
                <select id="ref1_yearend">
                    <option value="2021" selected>2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
            </div>
            <div class="ref_list">
                <input type="text" name="ref2" id="ref2" placeholder="Company B">
                <select id="ref2_yearstart">
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014" selected>2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
                <select id="ref2_yearend">
                    <option value="2021" selected>2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
            </div>
            <div class="ref_list">
                <input type="text" name="ref3" id="ref3" placeholder="Company C">
                <select id="ref3_yearstart">
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014" selected>2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
                <select id="ref3_yearend">
                    <option value="2021" selected>2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
            </div>
            <button class="addNewCompany" id="addNewCompany"><i class="fas fa-plus"></i></button>
            <label for="mainQua">Main Qualifications</label>
            <select id="mainQua" name="mainQua">
                <option value="2021" selected>Select from Options</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
            </select>
        
            <label for="roa">Radius Operation Area:</label>
            <div class="user_roa">
                <input type="text" name="roa" id="roa" placeholder="Zip">
                <select name="roa_options" id="roa_options">
                    <option value="0_500">0KM - 500KM</option>
                    <option value="600_1500">600KM - 1500KM</option>
                </select>
            </div>
            <label for="ref_phone">Telephone:</label>
            <input type="number" name="ref_phone" id="ref_phone" placeholder="Phone Number">
            <label for="ref_email">Email:</label>
            <input type="email" name="ref_email" id="ref_email" placeholder="Email Address">
            <div class="ref_free_text">
                <textarea name="ref_free_text" id="ref_free_text" cols="70" rows="4" placeholder="Free Text"></textarea>
            </div>
        </div>
        <div class="update_user_profile_btn">
            <button type="submit" class="cancel__edit__button">Cancel Update</button>
            <button type="submit" class="profile__edit__button">Update Profile</button>
        </div>
    </div>
</div>
