<div class="container-md">
    <h4 class="text-center" style="color: #9A0605">TOP ANZEIGEN</h4>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="row">
            <div class="col-lg-1 col-md-1" style="overflow: hidden;">
                <button class="w-100 h-100 d-flex justify-content-center align-items-center" type="button"
                    data-bs-target="#carouselExampleInterval" data-bs-slide="prev"
                    style="background: none; outline: none; border: none;">
                    <span style="color: #333; font-size: 50px"><i class="fas fa-caret-left"></i></span>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="6000">
                        <div class="row">
                            <!-- Job Ads One -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="ads__border">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="my-2">
                                                    <h6 class="text_red">Rettungssanitäter A</h6>
                                                    <h5 class="text_black">Company ABC</h5>
                                                </div>
                                                <div class="ads__status">
                                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span>
                                                    </div>
                                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="rounded goodie">Goodie 1</div>
                                                <div class="rounded goodie">Goodie 2</div>
                                                <div class="rounded goodie">Goodie 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Job Ads Two -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="ads__border">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="my-2">
                                                    <h6 class="text_red">Rettungssanitäter B</h6>
                                                    <h5 class="text_black">Company DEF</h5>
                                                </div>
                                                <div class="ads__status">
                                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span>
                                                    </div>
                                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="rounded goodie">Goodie 1</div>
                                                <div class="rounded goodie">Goodie 2</div>
                                                <div class="rounded goodie">Goodie 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Job Ads Three -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="ads__border">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="my-2">
                                                    <h6 class="text_red">Rettungssanitäter C</h6>
                                                    <h5 class="text_black">Company GHI</h5>
                                                </div>
                                                <div class="ads__status">
                                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span>
                                                    </div>
                                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="rounded goodie">Goodie 1</div>
                                                <div class="rounded goodie">Goodie 2</div>
                                                <div class="rounded goodie">Goodie 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="6000">
                        <div class="row">
                            <!-- Job Ads Four -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="ads__border">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="my-2">
                                                    <h6 class="text_red">Rettungssanitäter D</h6>
                                                    <h5 class="text_black">Company ABC</h5>
                                                </div>
                                                <div class="ads__status">
                                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span>
                                                    </div>
                                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="rounded goodie">Goodie 1</div>
                                                <div class="rounded goodie">Goodie 2</div>
                                                <div class="rounded goodie">Goodie 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Job Ads Five -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="ads__border">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="my-2">
                                                    <h6 class="text_red">Rettungssanitäter E</h6>
                                                    <h5 class="text_black">Company ABC</h5>
                                                </div>
                                                <div class="ads__status">
                                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span>
                                                    </div>
                                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="rounded goodie">Goodie 1</div>
                                                <div class="rounded goodie">Goodie 2</div>
                                                <div class="rounded goodie">Goodie 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Job Ads Six -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="ads__border">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <div class="my-2">
                                                    <h6 class="text_red">Rettungssanitäter F</h6>
                                                    <h5 class="text_black">Company ABC</h5>
                                                </div>
                                                <div class="ads__status">
                                                    <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span>
                                                    </div>
                                                    <div><i class="far fa-clock"></i><span>2 Days Ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="rounded goodie">Goodie 1</div>
                                                <div class="rounded goodie">Goodie 2</div>
                                                <div class="rounded goodie">Goodie 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1" style="overflow: hidden;">
                <button class="w-100 h-100 d-flex justify-content-center align-items-center" type="button"
                    data-bs-target="#carouselExampleInterval" data-bs-slide="next"
                    style="background: none; outline: none; border: none;">
                    <span style="color: #333; font-size: 50px"><i class="fas fa-caret-right"></i></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
