<div class="container-md my-3">
    <div class="as__main">
        <h5>Financial</h5>
        <div class="financial_results">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- First One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Willkommensprämie ab:</h6>
                            </div>
                            <div class="main__content">
                                <select class="mc__do" name="financial_one" id="financial_opt">
                                    <option value="500" checked>500</option>
                                    <option value="1000">1000</option>
                                    <option value="1500">1500</option>
                                    <option value="2500">2500</option>
                                </select>
                                <input class="mc__do" type="number" id="financial_one_custom_val"
                                    placeholder="Custom Values">
                            </div>
                        </div>
                    </div>
                    <!-- Secound One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Möglicher Mehrverdienst durch Nebentätigkeiten</h6>
                            </div>
                            <div class="main__content">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="financial_two"
                                        id="financial_two_1" value="yes" checked>
                                    <label class="form-check-label pointer" for="financial_two_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="financial_two"
                                        id="financial_two_2" value="irrelevant">
                                    <label class="form-check-label pointer" for="financial_two_2">irrelevant</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3rd One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Umzugsprämie ab:</h6>
                            </div>
                            <div class="main__content">
                                <select class="mc__do" name="financial_three">
                                    <option value="500" checked>500</option>
                                    <option value="1000">1000</option>
                                    <option value="1500">1500</option>
                                    <option value="2500">2500</option>
                                </select>
                                <input class="mc__do" type="number" placeholder="Custom Values">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start New -->
    <div class="as__main">
        <h5>Work</h5>
        <div class="work_results">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- 1st One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Funktionierende Pausenregelung</h6>
                            </div>
                            <div class="main__content">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="work_four"
                                        id="work_four_1" value="yes">
                                    <label class="form-check-label pointer" for="work_four_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="work_four"
                                        id="work_four_3" value="irrelevant" checked>
                                    <label class="form-check-label pointer" for="work_four_3">irrelevant</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3rd One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Leitstellensoftware</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="number" id="financial_one_custom_val"
                                    placeholder="Custom Values">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Another New -->
    <div class="as__main">
        <h5>Education</h5>
        <div class="education_results">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- First One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Besondere Zusatzkurse</h6>
                            </div>
                            <div class="main__content">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="education_one"
                                        id="education_one_1" value="yes">
                                    <label class="form-check-label pointer" for="education_one_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="education_one"
                                        id="education_one_3" value="irrelevant" checked>
                                    <label class="form-check-label pointer" for="education_one_3">irrelevant</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2nd One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Deeskalations- oder Selbstverteidigungstraining</h6>
                            </div>
                            <div class="main__content">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="education_2"
                                        id="education_2_1" value="yes">
                                    <label class="form-check-label pointer" for="education_2_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="education_2"
                                        id="education_2_3" value="irrelevant" checked>
                                    <label class="form-check-label pointer" for="education_2_3">irrelevant</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3rd One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Umfang der Jahresfortbildung in Stunden</h6>
                            </div>
                            <div class="main__content">
                                <select class="mc__do" name="financial_one" id="financial_opt">
                                    <option value="10" checked>10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Another New -->
    <div class="as__main">
        <h5>Facts</h5>
        <div class="facts_results">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- First One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="far fa-circle"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Anzahl Urlaubstage*</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="text" id="" placeholder="Add Listing " required>
                            </div>
                        </div>
                    </div>
                    <!-- Secound One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="far fa-circle"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Anzahl der Gehälter*</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="text" id="" placeholder="Add Listing " required>
                            </div>
                        </div>
                    </div>
                    <!-- 3rd One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="far fa-circle"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Art und Weise der Springer-Dienste*</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="text" id="" placeholder="Add Listing " required>
                            </div>
                        </div>
                    </div>
                    <!-- 4th One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="far fa-circle"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Bereitschaftsanteil</h6>
                            </div>
                            <div class="main__content">
                                <select class="mc__do" name="financial_one" id="financial_opt">
                                    <option value="30" checked>30%</option>
                                    <option value="25">25%</option>
                                    <option value="20">20%</option>
                                    <option value="15">15%</option>
                                    <option value="10">10%</option>
                                    <option value="5">5%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- 5th One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="far fa-circle"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Durchschnittliche, effektive Arbeitszeit*</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="text" id="" placeholder="Add Listing " required>
                            </div>
                        </div>
                    </div>
                    <!-- 6th One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="far fa-circle"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Gehaltsrahmen</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="number" id="" placeholder="Min" style="margin-right: 8px;"
                                    required>
                                <input class="mc__do" type="number" id="" placeholder="Max" required>
                            </div>
                        </div>
                    </div>
                    <!-- 7th One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Jahresdienstplan</h6>
                            </div>
                            <div class="main__content">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="facts_1" id="facts_1_1"
                                        value="yes">
                                    <label class="form-check-label pointer" for="facts_1_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="facts_1" id="facts_1_2"
                                        value="no">
                                    <label class="form-check-label pointer" for="facts_1_2">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="radio" name="facts_1" id="facts_1_3"
                                        value="irrelevant" checked>
                                    <label class="form-check-label pointer" for="facts_1_3">irrelevant</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- 9rd One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button class="disabled"><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Mögliche Zulagen</h6>
                            </div>
                            <div class="main__content">
                                <input class="mc__do" type="text" id="" placeholder="Add Listing " required>
                            </div>
                        </div>
                    </div>
                    <!-- 10th One -->
                    <div class="fav__content_star">
                        <div class="star_icon">
                            <button><i class="fas fa-star"></i></button>
                        </div>
                        <div class="final__content">
                            <div class="main__title">
                                <h6>Schichtsystem*</h6>
                            </div>
                            <div class="main__content">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="checkbox" name="24std"
                                        id="facts_24std" value="24std" checked>
                                    <label class="form-check-label pointer" for="facts_24std">24 Std</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="checkbox" name="24std"
                                        id="facts_12std" value="12std">
                                    <label class="form-check-label pointer" for="facts_12std">12 Std</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="checkbox" name="24std"
                                        id="facts_8_10std" value="8_10std">
                                    <label class="form-check-label pointer" for="facts_8_10std">8-10 Std</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer" type="checkbox" name="24std" id="facts_8std"
                                        value="8std">
                                    <label class="form-check-label pointer" for="facts_8std">8 Std</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
