<div class="container-md">
    <h4 class="text-center" style="color: #9A0605">SEO TEXT</h4>
    <p style="font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reprehenderit non
        ipsam ratione! Corrupti,
        consectetur reiciendis? Rerum nesciunt error provident neque dolorem ab voluptates nobis saepe repellendus
        maiores placeat ipsam dicta beatae suscipit doloremque magni, et laudantium voluptate. Vero odit tempora rem
        eius? Beatae incidunt, doloremque dolores totam neque architecto, optio atque amet, repudiandae aliquam rerum
        excepturi officia dicta voluptatum?</p>
</div>