<div class="container-md">
    <div class="user__info">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                    <h6 style="color: #9A0605">Kontodaten / Einstellung / Zahlungsweg usw</h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex justify-content-end">
                    <button class="profile__edit__button">Ändern</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Employee favorites -->
    <div class="user__info">
        <div class="ads__header__title">
            Mitarbeiter Favoriten
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="user__info">
                    <div class="d-flex justify-content-between my-2">
                        <h6 style="color: #9A0605">Rettungssanitäter A</h6>
                        <div class="ads__views">
                            <!-- <span>365 Views</span> -->
                            <button class="ads__favorite" style="font-size: 20px"><i class="fas fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="ads__status">
                        <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                        <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Temporary staff favorites -->
    <div class="user__info">
        <div class="ads__header__title">
            Aushilfen Favoriten
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="user__info">
                    <div class="d-flex justify-content-between my-2">
                        <h6 style="color: #9A0605">Rettungssanitäter A</h6>
                        <div class="ads__views">
                            <!-- <span>365 Views</span> -->
                            <button class="ads__favorite" style="font-size: 20px"><i class="fas fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="ads__status">
                        <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                        <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Marked educational programs -->
    <div class="user__info">
        <div class="ads__header__title">
            Markierte Bildungsprogramme
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="user__info">
                    <div class="d-flex justify-content-between" style="position: relative">
                        <div>
                            <a href="#" class="edu__pro__a">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex edu__prog">
                                        <img class="user__profile_picture" src="../../../images/dummy_logo.jpg" />
                                        <div class="edu__details">
                                            <h5 class="edu__name">Erste - Hilfe Kurs</h5>
                                            <h6 class="edu__institute">Robert Koch Institut</h6>
                                            <span><i class="fas fa-map-marked-alt"></i>Berlin</span>
                                            <span><i class="far fa-calendar-alt"></i>10.04.2021</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <button title="Button" class="ads__favorite d-flex align-items-start"
                                style="font-size: 24px">
                                <i class="fas fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job advertisements -->
    <div class="user__info">
        <div class="ads__header__title">
            Stellenanzeigen
        </div>
        <div class="user__info">
            <div class="d-flex justify-content-between my-2">
                <h6 style="color: #9A0605">Rettungssanitäter A</h6>
            </div>
            <div class="ads__status">
                <div><i class="fas fa-map-marked-alt"></i><span>Hamburg</span></div>
                <div><i class="far fa-clock"></i><span>2 Days Ago</span></div>
                <div><i class="far fa-eye"></i><span>365 Views</span></div>
                <div><i class="far fa-id-card"></i><span>23x Contact Opened</span></div>
                <div class="ads__boost">
                    <button class="ads__favorite">
                        <i class="fas fa-star"></i><span>Ads booster</span>
                    </button>
                </div>
                <div class="ads__delete">
                    <button class="ads__favorite">
                        <i class="fas fa-times"></i><span>Delete Ad</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 d-flex align-items-center">
                <button class="ads__button">Load from template</button>
                <button class="ads__button" style="margin-left: 8px;">New Advertisement</button>
            </div>
        </div>
    </div>
</div>
