<div class="container-md">
    <div class="employeeCategory my-3">
        <div class="selectCategory">
            <div class="selectCategory_tab">
                <input class="selectCategory_radio" type="radio" name="job" id="job_search_tab_1">
                <label class="selectCategory_label" for="job_search_tab_1"><span><i
                            class="fas fa-plus-circle"></i></span>Ambulance Service</label>

                <input class="selectCategory_radio" type="radio" name="job" id="job_search_tab_2">
                <label class="selectCategory_label" for="job_search_tab_2"><span><i class="fas fa-fire"></i></span>Fire
                    Department</label>

                <input class="selectCategory_radio" type="radio" name="job" id="job_search_tab_3">
                <label class="selectCategory_label" for="job_search_tab_3"><span><i
                            class="fas fa-headset"></i></span>Control Center</label>

                <input class="selectCategory_radio" type="radio" name="job" id="job_search_tab_4">
                <label class="selectCategory_label" for="job_search_tab_4"><span><i
                            class="fas fa-users"></i></span>Others</label>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 offset-md-6 col-sm-12 my-3">
        <button type="submit" class="findBtn">START QUICK SEARCH</button>
    </div>
</div>
