<div class="topNavBar">
    <div class="container-md">
        <ul class="topNavBar_ul">
            <li>
                <a href="/login.html">My Account / Login</a>
            </li>
            <li>
                <a href="/">For companies</a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-md">
        <a class="navbar-brand" href="/">
            <img src="./images/logo/logo.png" width="110px" height="auto" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-3 active" aria-current="page" href="/">Job Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">Employee Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">Temporary Worker Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">Education Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="../../login.html">Sign in</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link register rounded-pill px-3" href="#">Register</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
