<div class="container-md find_details_job">
    <h5>Are you looking for something in particular? Choose in which category you are looking for a job!</h5>
    <div class="detailed_search">
        <h5>DETAILED SEARCH</h5>
        <div class="job_search_tab">
            <input class="job_search_radio" type="radio" name="job" id="job_search_tab_1">
            <label class="job_search_label label_border" for="job_search_tab_1"><span><i
                        class="fas fa-plus-circle"></i></span>Ambulance Service</label>
            <div class="job_search_content">

                <!-- Finance -->
                <div class="detailed_search_title">
                    <h5>FINANCE</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Welcome Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Relocation Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Wealthy Performance <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="as_wealthy_performance"
                                id="as_finance_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="as_finance_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="as_wealthy_performance"
                                id="as_finance_no" value="no">
                            <label class="form-check-label pointer" for="as_finance_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="as_wealthy_performance"
                                id="as_finance_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="as_finance_all_the_same">All The Same</label>
                        </div>
                    </div>
                </div>

                <!-- Time -->
                <div class="detailed_search_title">
                    <h5>TIME</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">At least vacation days<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Annual Duty <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="as_time_annual_duty"
                                id="as_time_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="as_time_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="as_time_annual_duty"
                                id="as_time_no" value="no">
                            <label class="form-check-label pointer" for="as_time_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="as_time_annual_duty"
                                id="as_time_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="as_time_all_the_same">All The Same</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Stand-by Share<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Effect - Working Time<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>

                    <!-- Search -->
                    <div class="searchOption">
                        <button class="searchButton"><span>1,256</span>Search Results ></button>
                    </div>
                </div>
            </div>
            <input class="job_search_radio" type="radio" name="job" id="job_search_tab_2">
            <label class="job_search_label label_border" for="job_search_tab_2"><span><i
                        class="fas fa-fire"></i></span>Fire Department</label>
            <div class="job_search_content">
                <!-- Finance -->
                <div class="detailed_search_title">
                    <h5>FINANCE</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Welcome Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Relocation Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Wealthy Performance <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="fd_finance_wealthy_performance"
                                id="fd_finance_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="fd_finance_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="fd_finance_wealthy_performance"
                                id="fd_finance_no" value="no">
                            <label class="form-check-label pointer" for="fd_finance_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="fd_finance_wealthy_performance"
                                id="fd_finance_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="fd_finance_all_the_same">All The Same</label>
                        </div>
                    </div>
                </div>

                <!-- Time -->
                <div class="detailed_search_title">
                    <h5>TIME</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">At least vacation days<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Annual Duty <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="fd_time_annual_duty"
                                id="fd_time_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="fd_time_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="fd_time_annual_duty"
                                id="fd_time_no" value="no">
                            <label class="form-check-label pointer" for="fd_time_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="fd_time_annual_duty"
                                id="fd_time_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="fd_time_all_the_same">All The Same</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Stand-by Share<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Effect - Working Time<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>

                    <!-- Search -->
                    <div class="searchOption">
                        <button class="searchButton"><span>1,156</span>Search Results ></button>
                    </div>
                </div>
            </div>
            <input class="job_search_radio" type="radio" name="job" id="job_search_tab_3">
            <label class="job_search_label label_border" for="job_search_tab_3"><span><i
                        class="fas fa-headset"></i></span>Control Center</label>
            <div class="job_search_content">
                <!-- Finance -->
                <div class="detailed_search_title">
                    <h5>FINANCE</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Welcome Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Relocation Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Wealthy Performance <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="cc_finance_wealthy_performance"
                                id="cc_finance_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="cc_finance_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="cc_finance_wealthy_performance"
                                id="cc_finance_no" value="no">
                            <label class="form-check-label pointer" for="cc_finance_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="cc_finance_wealthy_performance"
                                id="cc_finance_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="cc_finance_all_the_same">All The Same</label>
                        </div>
                    </div>
                </div>

                <!-- Time -->
                <div class="detailed_search_title">
                    <h5>TIME</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">At least vacation days<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Annual Duty <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="cc_time_annual_duty"
                                id="cc_time_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="cc_time_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="cc_time_annual_duty"
                                id="cc_time_no" value="no">
                            <label class="form-check-label pointer" for="cc_time_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="cc_time_annual_duty"
                                id="cc_time_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="cc_time_all_the_same">All The Same</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Stand-by Share<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Effect - Working Time<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>

                    <!-- Search -->
                    <div class="searchOption">
                        <button class="searchButton"><span>1,324</span>Search Results ></button>
                    </div>
                </div>
            </div>
            <input class="job_search_radio" type="radio" name="job" id="job_search_tab_4">
            <label class="job_search_label" for="job_search_tab_4"><span><i
                        class="fas fa-users"></i></span>Others</label>
            <div class="job_search_content">
                <!-- Finance -->
                <div class="detailed_search_title">
                    <h5>FINANCE</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Welcome Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Relocation Bonus<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h6 class="explainIcon">Wealthy Performance <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="oth_finance_wealthy_performance"
                                id="oth_finance_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="oth_finance_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="oth_finance_wealthy_performance"
                                id="oth_finance_no" value="no">
                            <label class="form-check-label pointer" for="oth_finance_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="oth_finance_wealthy_performance"
                                id="oth_finance_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="oth_finance_all_the_same">All The Same</label>
                        </div>
                    </div>
                </div>

                <!-- Time -->
                <div class="detailed_search_title">
                    <h5>TIME</h5>
                </div>
                <div class="row first_filter">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">At least vacation days<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Annual Duty <span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="oth_time_annual_duty"
                                id="oth_time_yes" value="yes" checked>
                            <label class="form-check-label pointer" for="oth_time_yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="oth_time_annual_duty"
                                id="oth_time_no" value="no">
                            <label class="form-check-label pointer" for="oth_time_no">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pointer" type="radio" name="oth_time_annual_duty"
                                id="oth_time_all_the_same" value="all_the_same">
                            <label class="form-check-label pointer" for="oth_time_all_the_same">All The Same</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Stand-by Share<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h6 class="explainIcon">Effect - Working Time<span title="Information"><i
                                    class="fas fa-info-circle"></i></span></h6>
                        <select class="form-control custom_job_search" id="country_id" name="country_id[]">
                            <option value="" selected="selected">Any</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                        </select>
                    </div>

                    <!-- Search -->
                    <div class="searchOption">
                        <button class="searchButton"><span>1,646</span>Search Results ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
