<div class="tab">
    <input class="tab_radio" type="radio" name="login" id="login_tab_1" checked>
    <label class="tabs_label" for="login_tab_1">Job Seeker</label>
    <div class="tab_content">
        <div class="login_title">
            <h5>Login as Job Seeker</h5>
        </div>
        <div class="login">
            <form method="POST" action="https://simulice.edalytics.com/login">
                <div class="mb-3">
                    <input type="email" class="form-control custom_login" placeholder="Email address">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control custom_login" placeholder="Password" id="password1">
                    <span onclick="toggle()" id="eye1"
                        style="position: absolute; top: 50%; right: 10px; transform: translate(-50%, -50%); color: #555; font-size: 20px; cursor: pointer;"><i
                            class="far fa-eye"></i></span>
                </div>
                <button type="submit" class="login_btn">LOGIN</button>
            </form>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> New User? <a
                    href="https://simulice.edalytics.com/register">Register Here</a>
            </div>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> Forgot Your Password? <a
                    href="https://simulice.edalytics.com/password/reset">Click here</a>
            </div>
        </div>
    </div>
    <input class="tab_radio" type="radio" name="login" id="login_tab_2">
    <label class="tabs_label" for="login_tab_2">Company</label>
    <div class="tab_content">
        <div class="login_title">
            <h5>Login as Company</h5>
        </div>
        <div class="login">
            <form method="POST" action="https://simulice.edalytics.com/login">
                <div class="mb-3">
                    <input type="email" class="form-control custom_login" placeholder="Email address">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control custom_login" placeholder="Password" id="password2">
                    <span onclick="toggle()" id="eye2"
                        style="position: absolute; top: 50%; right: 10px; transform: translate(-50%, -50%); color: #555; font-size: 20px; cursor: pointer;"><i
                            class="far fa-eye"></i></span>
                </div>
                <button type="submit" class="login_btn">LOGIN</button>
            </form>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> New User? <a
                    href="https://simulice.edalytics.com/register">Register Here</a>
            </div>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> Forgot Your Password? <a
                    href="https://simulice.edalytics.com/password/reset">Click here</a>
            </div>
        </div>
    </div>
    <input class="tab_radio" type="radio" name="login" id="login_tab_3">
    <label class="tabs_label" for="login_tab_3">Institute</label>
    <div class="tab_content">
        <div class="login_title">
            <h5>Login as Institute</h5>
        </div>
        <div class="login">
            <form method="POST" action="https://simulice.edalytics.com/login">
                <div class="mb-3">
                    <input type="email" class="form-control custom_login" placeholder="Email address">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control custom_login" placeholder="Password" id="password3">
                    <span onclick="toggle()" id="eye3"
                        style="position: absolute; top: 50%; right: 10px; transform: translate(-50%, -50%); color: #555; font-size: 20px; cursor: pointer;"><i
                            class="far fa-eye"></i></span>
                </div>
                <button type="submit" class="login_btn">LOGIN</button>
            </form>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> New User? <a
                    href="https://simulice.edalytics.com/register">Register Here</a>
            </div>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> Forgot Your Password? <a
                    href="https://simulice.edalytics.com/password/reset">Click here</a>
            </div>
        </div>
    </div>
    <input class="tab_radio" type="radio" name="login" id="login_tab_4">
    <label class="tabs_label" for="login_tab_4">Headhunter</label>
    <div class="tab_content">
        <div class="login_title">
            <h5>Login as Headhunter</h5>
        </div>
        <div class="login">
            <form method="POST" action="https://simulice.edalytics.com/login">
                <div class="mb-3">
                    <input type="email" class="form-control custom_login" placeholder="Email address">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control custom_login" placeholder="Password" id="password4">
                    <span onclick="toggle()" id="eye4"
                        style="position: absolute; top: 50%; right: 10px; transform: translate(-50%, -50%); color: #555; font-size: 20px; cursor: pointer;"><i
                            class="far fa-eye"></i></span>
                </div>
                <button type="submit" class="login_btn">LOGIN</button>
            </form>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> New User? <a
                    href="https://simulice.edalytics.com/register">Register Here</a>
            </div>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> Forgot Your Password? <a
                    href="https://simulice.edalytics.com/password/reset">Click here</a>
            </div>
        </div>
    </div>
    <input class="tab_radio" type="radio" name="login" id="login_tab_5">
    <label class="tabs_label" for="login_tab_5">Lecturer</label>
    <div class="tab_content">
        <div class="login_title">
            <h5>Login as Lecturer</h5>
        </div>
        <div class="login">
            <form method="POST" action="https://simulice.edalytics.com/login">
                <div class="mb-3">
                    <input type="email" class="form-control custom_login" placeholder="Email address">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control custom_login" placeholder="Password" id="password5">
                    <span onclick="toggle()" id="eye5"
                        style="position: absolute; top: 50%; right: 10px; transform: translate(-50%, -50%); color: #555; font-size: 20px; cursor: pointer;"><i
                            class="far fa-eye"></i></span>
                </div>
                <button type="submit" class="login_btn">LOGIN</button>
            </form>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> New User? <a
                    href="https://simulice.edalytics.com/register">Register Here</a>
            </div>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> Forgot Your Password? <a
                    href="https://simulice.edalytics.com/password/reset">Click here</a>
            </div>
        </div>
    </div>
    <input class="tab_radio" type="radio" name="login" id="login_tab_6">
    <label class="tabs_label" for="login_tab_6">Temporary Worker</label>
    <div class="tab_content">
        <div class="login_title">
            <h5>Login as Temporary Worker</h5>
        </div>
        <div class="login">
            <form method="POST" action="https://simulice.edalytics.com/login">
                <div class="mb-3">
                    <input type="email" class="form-control custom_login" placeholder="Email address">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control custom_login" placeholder="Password" id="password6">
                    <span onclick="toggle()" id="eye6"
                        style="position: absolute; top: 50%; right: 10px; transform: translate(-50%, -50%); color: #555; font-size: 20px; cursor: pointer;"><i
                            class="far fa-eye"></i></span>
                </div>
                <button type="submit" class="login_btn">LOGIN</button>
            </form>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> New User? <a
                    href="https://simulice.edalytics.com/register">Register Here</a>
            </div>
            <div class="newuser">
                <i class="fa fa-user" aria-hidden="true"></i> Forgot Your Password? <a
                    href="https://simulice.edalytics.com/password/reset">Click here</a>
            </div>
        </div>
    </div>
</div>
