<div class="container-md">
    <div class="user__info">
        <div class="page__title">
            <h5>Data</h5>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="user_basic_details">
                    <!-- Surname -->
                    <label for="companyName">Job Title:</label>
                    <input type="text" name="companyName" style="width: 100%" id="surname" placeholder="Enter text...">
                    <!-- Address -->
                    <label for="street">Address</label>
                    <div class="user_address" style="width: 100%">
                        <input type="text" name="street" id="street" placeholder="Street">
                        <input type="text" name="zip" id="zip" placeholder="Zip">
                        <input type="text" name="city" id="city" placeholder="City">
                    </div>
                    <!-- Goodie #1 -->
                    <label for="Goodie_1">Goodie #1</label>
                    <input type="text" style="width: 100%" name="Goodie_1" id="Goodie_1" placeholder="Enter text...">
                    <!-- Goodie #2 -->
                    <label for="Goodie_2">Goodie #2</label>
                    <input type="text" style="width: 100%" name="Goodie_2" id="Goodie_2" placeholder="Enter text...">
                    <!-- Goodie #3 -->
                    <label for="Goodie_3">Goodie #3</label>
                    <input type="text" style="width: 100%" name="Goodie_3" id="Goodie_3" placeholder="Enter text...">


                    <label class="redLabel">FINANZEN</label>
                    <!-- Welcome Bonus -->
                    <label>Welcome Bonus:</label>
                    <select name="welcomeBonus" class="select__new">
                        <option checked>Choose One</option>
                        <option value="1">Value One</option>
                        <option value="2">Value Two</option>
                    </select>
                    <!-- Moving Bonus -->
                    <label>Moving Bonus:</label>
                    <select name="movingBonus" class="select__new">
                        <option checked>Choose One</option>
                        <option value="1">Value One</option>
                        <option value="2">Value Two</option>
                    </select>
                    <!-- Capital accumulation benefits -->
                    <label>Capital Accumulation Benefits:</label>
                    <select name="capitalAccumulationBenefits" class="select__new">
                        <option checked>Choose One</option>
                        <option value="1">Value One</option>
                        <option value="2">Value Two</option>
                    </select>

                    <label class="redLabel">ZEIT</label>
                    <!-- Vacation days at least -->
                    <label>Vacation Days at Least:</label>
                    <select name="vacationDaysAtLeast" class="select__new">
                        <option checked>Choose One</option>
                        <option value="1">Value One</option>
                        <option value="2">Value Two</option>
                    </select>
                    <!-- Annual duty roster -->
                    <label>Annual Duty Roster:</label>
                    <select name="AnnualDutyRoster" class="select__new">
                        <option checked>Choose One</option>
                        <option value="1">Value One</option>
                        <option value="2">Value Two</option>
                    </select>

                    <label class="redLabel">...more data field from sheet</label>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="user__info">
                    <div class="ads_post__active">
                        <p>Boost your AD <br>
                            7 days for 19,95€</p>
                        <p><i class="fas fa-check-circle"></i></p>
                        <button>BOOK NOW</button>
                    </div>
                </div>
                <div class="upload_company_doc">
                    <div class="img__one__company">
                        <img src="../../../images/dummy_logo.jpg" alt="Image" />
                        <img src="../../../images/dummy_logo.jpg" alt="Image" />
                        <img src="../../../images/dummy_logo.jpg" alt="Image" />
                        <img src="../../../images/dummy_logo.jpg" alt="Image" />
                    </div>
                    <div class="doc_upload_input">
                        <label for="uploadImg" class="uploadLabel"><span><i
                                    class="fas fa-cloud-upload-alt"></i></span>Select File To Upload</label>
                        <input type="file" id="uploadImg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="ref_free_text">
                    <div class="user_basic_details">
                    <label for="">Job Short Description</label>
                    <textarea name="ref_free_text" id="ref_free_text" style="width: 100%" rows="2" placeholder="Job Short Description"></textarea>
                    <label for="">Job Long Description</label>
                    <textarea name="ref_free_text" id="ref_free_text" style="width: 100%" rows="4" placeholder="Job Long Description & Company Description"></textarea>
                        <label for="youtube_video">YouTube Video Link</label>
                        <input type="text" style="width: 100%" name="youtube_video" id="youtube_video"
                            placeholder="Enter link...">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <button class="save__data">Save as draft</button>
                <button class="save__data">Publish Job</button>
            </div>
        </div>
    </div>
</div>
