<div class="container-md">
    <div class="user__info">
        <div class="boxforcompany">
            <div class="page__title" style="text-align: right">
                <h5>Company Profile</h5>
            </div>
            <div class="user_profile_picture">
                <label for="updatePP">
                    <input type="file" id="updatePP" name="updatePP">
                    <img class="user__profile_picture" src="../../../images/abc_logo.png" />
                </label>
            </div>
            <div class="user_basic_details">
                <!-- Surname -->
                <label for="companyName">Company Name:</label>
                <input type="text" name="companyName" id="surname" placeholder="Enter text...">
                <!-- Address -->
                <label for="street">Address</label>
                <div class="user_address">
                    <input type="text" name="street" id="street" placeholder="Street">
                    <input type="text" name="zip" id="zip" placeholder="Zip">
                    <input type="text" name="city" id="city" placeholder="City">
                </div>
                <!-- Website -->
                <label for="website">Website:</label>
                <input type="text" name="website" id="Website" placeholder="www.example.com">
                <!-- Amount of employee -->
                <label for="amount_of_employee">Amount of employee:</label>
                <input type="text" name="amount_of_employee" id="amount_of_employee" placeholder="Enter text...">
            </div>
            <div class="ref_free_text">
                <textarea name="ref_free_text" id="ref_free_text" cols="70" rows="4"
                    placeholder="Company Descriptions"></textarea>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="user_basic_details">
                        <!-- Facebook -->
                        <label for="facebook">Facebook:</label>
                        <input type="text" name="facebook" style="width: 100%" id="facebook" placeholder="Facebook Profile">
                        <!-- Instagram -->
                        <label for="instagram">Instagram:</label>
                        <input type="text" name="instagram" style="width: 100%" id="instagram" placeholder="Instagram Profile">
                        <!-- Xing -->
                        <label for="xing">Xing:</label>
                        <input type="text" name="xing" style="width: 100%" id="xing" placeholder="Xing Profile">
                        <!-- Indeed -->
                        <label for="indeed">Indeed:</label>
                        <input type="text" name="indeed" style="width: 100%" id="indeed" placeholder="Indeed Profile">
                        <!-- Youtube video link -->
                        <label for="youtube_video_link">Youtube video link:</label>
                        <input type="text" name="youtube_video_link" style="width: 100%" id="youtube_video_link" placeholder="Link Here">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="upload_company_doc">
                        <div class="img__one__company">
                            <img src="../../../images/dummy_logo.jpg" alt="Image" />
                            <img src="../../../images/dummy_logo.jpg" alt="Image" />
                            <img src="../../../images/dummy_logo.jpg" alt="Image" />
                            <img src="../../../images/dummy_logo.jpg" alt="Image" />
                        </div>
                        <div class="doc_upload_input">
                            <label for="uploadImg" class="uploadLabel"><span><i class="fas fa-cloud-upload-alt"></i></span>Select File To Upload</label>
                            <input type="file" id="uploadImg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit_data">
                <button type="submit" class="save__data">Save Data</button>
            </div>
        </div>
    </div>
</div>
